<div class="hero">
  <div class="row">
    <div class="small-12 large-10 large-offset-1 columns frosty text-center">
      <h1>Learn Magic from the Pros</h1>
      <h2>I&rsquo;m an illusionist, Michael</h2>
      <%= link_to 'Learn More', '#', class: 'button success' %>
    </div>
  </div>
</div>