<div id="course-title">
  <div class="row align-middle">
    <div class="small-12 large-10 large-offset-1 columns">
      <div class="row align-middle">
        <div class="small-12 columns">
          <h1>Privacy Page</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">
    <br />
     <p class="lead">We collect personal information (your email address) to enable registration and access to courses. No other personally identifiable information is collected.</p>
     <p class="lead">Financial information for paid courses is processed and managed by <%= link_to "Stripe", "https://stripe.com/" %>. We do not maintain financial information on this site.</p>

      <p class="lead">In the case that this policy changes, we will update this page accordingly.</p>

      <p class="lead">Last updated: 29 Mar 2017</p>
  </div>
</div>