<div id="course-title">
  <div class="row align-middle">
    <div class="small-12 large-10 large-offset-1 columns">
      <div class="row align-middle">
        <div class="small-12 columns">
          <h1>Team</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-10 large-offset-1 columns">
    <br />
     <h2>DevStream is just me, Justin.</h2>
     <p class="lead">I didn&rsquo;t build this in a silo though. I have to give credit to my peers, mentor, and the instructors over at <%= link_to "The Firehose Project", "http://thefirehoseproject.com" %> for the help and direction to build this platform. I&rsquo;d also like to thank the Raleigh Chapter of <%= link_to "AIGA", "https://raleigh.aiga.org/" %> for pushing to to create the content for the 2 classes currently available on DevStream.</p>
  </div>
</div>