<div class="row">
  <div class="card small-12 large-10 large-offset-1 columns">
    <div class="row align-bottom">
      <h1 class="columns"><%= @course.title %></h1>
      <%= link_to 'Preview as Student', course_path(@course), class: 'button alert float-right shrink columns' %>
    </div>
    <br />
    <%= link_to 'Add a new section', new_instructor_course_section_path(@course), class: 'button' %>
    <ul>
      <% @course.sections.each do |section| %>
        <li>
          <%= section.title %>
        </li>
      <% end %>
    </ul>
  </div>
</div>