// Variables
$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$primary-color: #1fc8a9;
$secondary-color: #ffefe5;
$spacing-unit: 2rem;

// Mixins
@mixin bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Global Styles
body {
  background: #f5f5f5;
  height: auto !important;                                                                        
  display: flex;                                                                               
  min-height: 100vh;                                                                              
  flex-direction: column; 
}
.content {
  flex: 1 0;
}

// Nav
.top-bar, .top-bar ul {
  background: $secondary-color;
}

.top-bar {
  box-shadow: $shadow;
}

.top-bar-right a:first-child {
  margin-right: $spacing-unit / 4;
}

.menu-text {
  color: $primary-color;
  padding-left: 0;
}

// Hero
.hero {
  background: image_url('hero.jpg') no-repeat center center;
  height: 50vh;
  @include bg-cover;
  color: #fff;
  padding-top: 10vh;
  box-shadow: $shadow;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
}

// Features
.feature {
  margin-top: $spacing-unit;
}

.card {
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

small.error {
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

[type='submit'], [type='button'] {
  margin-top: $spacing-unit / 2;
}

abbr[title="required"], small.error {
  color: #ff3333;
  text-decoration: none;
}